@charset "UTF-8";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
div, main,body {
    display: flex;
}
body{
    background-color: #E5E5E5;
    align-items: center;
    justify-content: center;
}
.container{
    border: 2px solid #1B83E2;
    width: 75vw;
    height: 40vw;
    background-color: #f4f4f4;
    padding: 15px;
    flex-direction: column;
    gap: 10px;
}
#arrow-img{
    align-self: center;
}
.container-text-areas{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.container-buttons{
    flex-direction: row;
    padding: 10px 0;
    justify-content: space-around;
    column-gap: 10px;

}
button{
    background-color: #1B83E2;
    border: none;
    border-radius: 3px;
    width: 25%;
    height: 40px;
    color: #f4f4f4;
    font-weight: bold;
    font-size: 1.1em;
}
article{
    display: inline-block;
    border: 2px solid #1B83E2;
    text-align: justify;
    padding: 5px;
    width: 50%;
    height:70vh;
}
textarea{
    width: 100%;
    resize: none;
    padding: 5px;
    font-size: 1em;
    height: 100%;
    text-align: justify;
    border: none;
    outline: none;
}
